In [1]:
#Import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

In [2]:
#Write code to load the dataset here
df = pd.read_csv("Uber+Request+Data.csv")

In [3]:
#use the following few lines to explore the data or clean it

df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

## Q1. Null Values
Which columns have null values and how many?

a) Request id - 2650 Driver id -3914

b) Request id-   3914 Driver id - 2650

c) Driver id - 2650 Drop time stamp -3914

d) There are no null values in the dataset.

In [5]:
#Write your code here
df.isnull().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

## Q2. Choose Correct

Select the correct statements from the options given below. (More than one may be correct)

a) We need to delete the records containing the null values as they won’t be useful for our analysis.

b) Only the records containing null values in the Driver id need to be eliminated.

c) There are a total of 1264 requests which have a status of “cancelled”

d) We need to keep the records containing null values for both the columns and using them analyse the problems faced by Uber.

In [6]:
#write your code here
df.Status.unique()

array(['Trip Completed', 'Cancelled', 'No Cars Available'], dtype=object)

In [7]:
df.Status.value_counts()

Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: Status, dtype: int64

## Q3. Busy Hour

Now that you have understood the significance of the null values in this case study, the next step would involve fixing the Request Time-Stamp and Drop-Time Stamp columns. Go ahead and convert it into a date-time object. After that report back the hour in which the most number of requests are being made.

a) 18:00-19:00

b) 16:00-17:00

c) 14:00-15:00

d) 13:00-14:00

e) 19:00-20:00

In [8]:
#write your solution here
df['Request timestamp Converted'] = pd.to_datetime(df['Request timestamp'])
df['Drop timestamp Converted'] = pd.to_datetime(df['Drop timestamp'])
#print(df['Request timestamp Converted'].head(10))
df['Drop timestamp Converted'].head(10)

0   2016-11-07 13:00:00
1   2016-11-07 18:47:00
2   2016-12-07 09:58:00
3   2016-12-07 22:03:00
4   2016-07-13 09:25:47
5   2016-07-13 22:28:59
6   2016-07-14 07:13:15
7   2016-07-15 06:07:52
8   2016-07-15 18:50:51
9   2016-11-07 07:25:00
Name: Drop timestamp Converted, dtype: datetime64[ns]

In [9]:
#df['Request hour'] = pd.to_datetime(df['Request timestamp']).dt.hour
#print(df['Request hour'].value_counts())

df['Request hour']=df['Request timestamp Converted'].apply(lambda x: x.hour)
df['Request hour'].value_counts()

18    510
20    492
19    473
21    449
5     445
9     431
8     423
17    418
7     406
6     398
22    304
10    243
4     203
23    194
12    184
11    171
15    171
13    160
16    159
14    136
2      99
0      99
3      92
1      85
Name: Request hour, dtype: int64

## Q4. Cancelled Dates
Next, extract the date from the request timestamp and find the date when the most number of trips were cancelled.

a) 2016-07-13

b) 2016-11-07

c) 2016-07-14

d) 2016-07-15 

e) 2016-12-07

In [69]:
#write your code here
#df[['Request timestamp Converted', 'Status']].groupby(df['Request timestamp Converted'].dt.date).sum()
#df[['Request timestamp Converted', 'Status']].groupby(pd.Grouper(key='Request timestamp Converted', freq='D')).sum()
df['Request date']=df['Request timestamp Converted'].apply(lambda x: x.date())
df[df['Status']=='Cancelled']['Request date'].value_counts()

2016-07-13    270
2016-11-07    262
2016-07-14    252
2016-07-15    240
2016-12-07    240
Name: Request date, dtype: int64

In [10]:
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Request timestamp Converted,Drop timestamp Converted,Request hour
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00,2016-11-07 11:51:00,2016-11-07 13:00:00,11
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47,2016-11-07 17:57:00,2016-11-07 18:47:00,17
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58,2016-12-07 09:17:00,2016-12-07 09:58:00,9
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03,2016-12-07 21:08:00,2016-12-07 22:03:00,21
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47,2016-07-13 08:33:16,2016-07-13 09:25:47,8

## Q5. Correct Statements II

Choose the correct statements from the ones given below.

(More than one may be correct)

a) In general, the five hour time period in which the most number of trips are completed is approximately 5-10.

b) Across all the days, the number of trips from the City that get cancelled is nearly 9 times less than the trips when there were no cars available.

c) Across all the days, the number of trips from the Airport that get cancelled is comparable to the number of trips when there were no cars available.

d) The number of trips getting completed from City is higher than the trips completed from the airport.

In [22]:
Q5a=df[df['Status']=='Trip Completed']['Request hour'].value_counts().sort_index()
for i in range(24):
    Q5a[i]=sum(Q5a[i:i+5])

In [17]:
# write your code here
df['Request hour'] = pd.to_datetime(df['Request hour'], format='%H')
# Create a new column with the hour of the day rounded down to the nearest multiple of 5
df['Rounded hour'] = df['Request hour'].apply(lambda x: x.hour // 5 * 5)

# Find the five hour time period with the most number of trips
most_common_time_period = df['Rounded hour'].mode()[0]

print(f'The five hour time period with the most number of trips is approximately {most_common_time_period}:00-{most_common_time_period + 5}:00')

The five hour time period with the most number of trips is approximately 5:00-10:00

In [19]:
# Select only the rows with a pickup point of 'City' and a status of 'Trip Cancelled'
city_cancelled_trips = df[(df['Pickup point'] == 'City') & (df['Status'] == 'Trip Cancelled')]

# Count the number of rows in the filtered DataFrame
num_city_cancelled_trips = city_cancelled_trips.shape[0]

print(f'Number of trips from the City that were cancelled: {num_city_cancelled_trips}')
# Select only the rows with a pickup point of 'City' and a status of 'No Cars Available'
city_no_cars_trips = df[(df['Pickup point'] == 'City') & (df['Status'] == 'No Cars Available')]

# Count the number of rows in the filtered DataFrame
num_city_no_cars_trips = city_no_cars_trips.shape[0]

print(f'Number of trips from the City for which there were no cars available: {num_city_no_cars_trips}')

Number of trips from the City that were cancelled: 0
Number of trips from the City for which there were no cars available: 937

In [20]:
# Select only the rows with a pickup point of 'Airport' and a status of 'Trip Cancelled'
airport_cancelled_trips = df[(df['Pickup point'] == 'Airport') & (df['Status'] == 'Trip Cancelled')]

# Count the number of rows in the filtered DataFrame
num_airport_cancelled_trips = airport_cancelled_trips.shape[0]

# Select only the rows with a pickup point of 'Airport' and a status of 'No Cars Available'
airport_no_cars_trips = df[(df['Pickup point'] == 'Airport') & (df['Status'] == 'No Cars Available')]

# Count the number of rows in the filtered DataFrame
num_airport_no_cars_trips = airport_no_cars_trips.shape[0]

print(f'Number of cancelled trips from the Airport: {num_airport_cancelled_trips}')
print(f'Number of trips from the Airport for which there were no cars available: {num_airport_no_cars_trips}')

Number of cancelled trips from the Airport: 0
Number of trips from the Airport for which there were no cars available: 1713

In [21]:
# Select only the rows with a pickup point of 'City' and a status of 'Trip Completed'
city_completed_trips = df[(df['Pickup point'] == 'City') & (df['Status'] == 'Trip Completed')]

# Count the number of rows in the filtered DataFrame
num_city_completed_trips = city_completed_trips.shape[0]

# Select only the rows with a pickup point of 'Airport' and a status of 'Trip Completed'
airport_completed_trips = df[(df['Pickup point'] == 'Airport') & (df['Status'] == 'Trip Completed')]

# Count the number of rows in the filtered DataFrame
num_airport_completed_trips = airport_completed_trips.shape[0]

if num_city_completed_trips > num_airport_completed_trips:
  print('The number of trips getting completed from the City is higher than the number of trips completed from the airport.')
elif num_city_completed_trips < num_airport_completed_trips:
  print('The number of trips getting completed from the City is lower than the number of trips completed from the airport.')
else:
  print('The number of trips getting completed from the City is equal to the number of trips completed from the airport.')

The number of trips getting completed from the City is higher than the number of trips completed from the airport.

## Q6. Request Time

Once you’ve analysed requests for all the days at an aggregate level, it’s time to find patterns in individual days and see if there is anything common across the days. Analyse the distribution of requests across all the days and choose the correct option.

a) The most number of requests are obtained only in the morning hours across all the days.

b) The most number of requests are obtained only in the evening hours across all the days.

c) The most number of requests are obtained both in the morning as well as the evening hours across all the days.

d) None of these

In [9]:
##Write your code here

## Q7. Request Time II

Now that you’ve observed that the number of requests across all the days is similar, you need to check it across the pick-up points as well. Analyse the distribution of requests across each of the pick-up points exclusively and choose the correct option:

a) The majority of requests from City are obtained during evening hours.

b) The majority of requests from Airport are obtained during morning hours.

c) The majority of requests from City are obtained during morning hours.

d) Both a) and b)

In [10]:
# Write your code here

## Q8. Request Time III
Now that you have realised the patterns of requests coming from both the city and the airport, the next step is to divide the entire time period to certain slots and then analyse them using plots. Use the following classification table to create the slots and then choose the correct option.


| Hour Range(x) |   Time Slot   |
|:-------------:|:-------------:|
|     x < 5     | Early morning |
|  5 <= x < 10  |    Morning    |
|  10 <= x < 17 |    Day Time   |
|  17 <= x < 22 |    Evening    |
|    22 <= x    |   Late Night  |


a) The maximum number of requests across all the days happens in the Evening.

b) The minimum number of requests across all the days happens in Early Morning.

c) The minimum number of requests across all the days happens in Late Night.

d) Both a) and c)

In [11]:
#write your code here

## Q9. Bar
After this, you decide to plot a bar plot with the time slots in the X-axis and the number of requests in the Y-axis and observe the Status of trips for each time slot. This way you’ll get the number of trip request across each time slot and their status as well. 

To make things easier, you created an additional column called ‘Count’ whose value is fixed at 1 for all the rows(df["Count"]=1). Then in order to create a bar plot as mentioned in the first statement, you decided to use sns.barplot() function. 

What are the parameters that you need to take here?

a) Take time slots as x and Count as y

b) Take the Status as hue and df as the data

c) Both (a) and (b)

d) The parameters mentioned above are insufficient

In [12]:
#Use this for rough work

## Q10. Correct Bar
Once you have created the bar plot correctly, what major issues are you able to observe? Choose the correct options amongst the following-

a) A majority of requests in the evening are having a “No cars available” status

b) The major issue in the morning slot is that it has a lot of cancellations

c) Both (a) and (b)

d) None of the above

In [13]:
#use this as rough work

## Q11. Demand Supply
Now that you’ve understood the major issues in the morning and the evening time slots, it’s time to compute the demand and supply gap. Here,

Demand - Number of Requests Uber Gets
Supply - Number of Requests Uber is able to fulfil

Demand supply gap = Demand - Supply.

Compute the demand-supply gap for both the morning and the evening slots for the Pick-up points having the most number of requests in that time_slot


a) Morning - 1205 Evening - 1427

b) Morning - 1427 Evening - 1205

c) Morning - 1249 Evening - 1558

d) Morning - 1558 Evening - 1249

In [14]:
#write your code here